<h1>JOIN EGG</h1>
<form action = '/home/showjoin'>
    그룹코드: <input type = 'text' name = 'code'><br>
    <input type = 'submit' value = '제출'>
</form>

<style>
body{
  font-family: sans-serif;
  font-weight: 100;
}

h1{
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}


</style>